body {
    margin: 0;
    height: 100%;
}

.register {
    padding-top: 7%;
}
input {
    margin-bottom: 15px;
}
.kontainer .game {
    font-size: 50px;
}
.kontainer {
    
    background: rgb(22, 17, 17);
    color: rgb(212, 212, 212);
    font-size: 50px;
    height: 1000px;

}
.kontainer h1 {
    font-size: 50px;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

.flexbox {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.kontainer img {
background: black;
padding: 5px;
width: 600px;
height: 90%;
margin: 10px;
}