body {
    margin: 0;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
  }
  li .nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #3325f5;
  }

.container {
    
    background: rgb(22, 17, 17);
    color: rgb(212, 212, 212);
    
    height: 1000px;

}
.container h1 {
    font-size: 50px;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

.flexbox {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.container img {
background: black;
padding: 5px;
width: 600px;
height: 90%;
margin: 10px;
}